body {
    margin: 0;
    padding: 0;
}

.maze-container {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    background-color: rgb(244, 248, 250);
    margin: 0;
}

.maze-canvas {
    margin: 50px;
    padding: 0;
    border:5px solid rgb(145, 213, 247);
    outline: none;
}