body {
    margin: 0;
    padding: 0;
}

.maze-container {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    background-color: rgb(31, 31, 31);
    margin: 0;
}

.maze-canvas {
    margin: 50px;
    padding: 0;
    border:5px solid rgb(255, 255, 255);
    outline: none;
}

.title {
    font-size: 35px;
    font-family: monospace;
    
}

.active {
    scale: 1;
}

.modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 50px;
}
